<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".succes"
            android:exported="false" />
        <activity
            android:name=".friends"
            android:exported="false" />
        <activity
            android:name=".friendinv"
            android:exported="false" />
        <activity
            android:name=".Ufoludki_MainActivity"
            android:exported="false" />
        <activity
            android:name=".Memory_MainActivity"
            android:exported="false" />
        <activity
            android:name=".saper_won_activity"
            android:exported="false" />
        <activity
            android:name=".saper_lost_activity"
            android:exported="false" />
        <activity
            android:name=".saper_minefield"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".saper_MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Saper_pirat"/>
        <activity
            android:name=".sekwencja_wrong"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".sekwencja_correct"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".sekwencja_MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Sekwencja"/>
        <activity
            android:name=".games"
            android:exported="false" />
        <activity
            android:name=".checkfriend"
            android:exported="false" />
        <activity
            android:name=".addfriend"
            android:exported="false" />
        <activity
            android:name=".rules"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity android:name=".refleks_i_koordynacja"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>